@import url('https://fonts.googleapis.com/css?family=Coiny|Orbitron');
@import url('https://fonts.googleapis.com/css?family=Coiny');

*
{
	scroll-behavior: smooth;
}
body
{
	background-image: url("body.png");
	background-size: 1800px 1200px;
	
}





#calculator
{
	width: 320px;
	height: 500px;
	background-color: #eaeaea;
	padding: 40px ;  
	font-family: Coiny;
	margin: 80px auto;
	border-radius: 20px;
	
	transition: all 0.2s ease-in-out;
    

}



a {
text-decoration: overline;
color: white;
font-size: 12px;
}

#result
{
	background-color: #666666;
	font-family: Orbitron;
	margin: 10px auto;
	height: 100px;
	text-align: right;
	box-shadow: inset 2px 5px 2px 0 black;
	border-style: groove;
	
	
}

#history
{
	color: white;
	font-size: 10px;
	padding: 5px;
	font-family: monospace;
}


#output
{
	color: white;
	font-size: 30px;
	padding: 5px; 
}



#keyboard
{
	padding: 20px; 
	
}

.number
{
	border-radius: 50%;
	padding: 5px; 
	outline: 0;
	font-size: 30px;
	font-family: Orbitron;
	width: 70px;
	height: 70px;
	float: left;
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
}

.operator
{
	border-radius: 50%;
	padding: 5px; 
	outline: 0;
	font-size: 25px;
	font-family: Orbitron;
	width: 70px;
	height: 70px;
	box-shadow: 1px 1px #999;
	float: left;

	transition: all 0.3s ease-in-out;
}


.empty
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	float: left;
	outline: 0;
	background-color: #eaedef;
	padding: 0;
	border-style: none;

}

.operator:hover
{
	background-color: ;
	font-family: Coiny;
	font-size: 30px;
	transition: background-color 1s ease-out;
	box-shadow: 2px 2px #999;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	opacity: 1;

}

.number:hover
{
	background-color: #999;
	font-size: 50px;
	transition: background-color, font-size 0.3s ease-out;
	opacity: 1;
}

.operator:active, .number:active, .extra:active
{
	color: white;
	box-shadow: 2px 2px 0px black;
	transform: scale(0.9);

}

.number
{
	background-color: #eaedef;
	border-width: 0;
}

#AllClear
{
	color: #DD5F5F;
}

.plus
{
	background-color: #ea7577;
}

.minus
{
	background-color: red;
}

.multiply
{
	background-color: gold;
}

.divide
{
	background-color: orange;
}

.equal
{
	background-color: lightgreen;
}

#microphone
{
	font-family: Orbitron;
	text-align: center;
	position: relative;
	top: -10px;
	left: 10px;
}


@keyframes appear {

  from{color: #ffffff;}
  to{color: black;}

}



#microphone {
  
  animation-name: appear;
  cursor: pointer;
  animation-duration: 7s;
}



#credit
{
	font-family: serif;
	position: relative;
	text-decoration: overline;
	font-size: 10px;
	color: white;
	bottom: 300px;
	left: 1100px;
}
